<div class="mx-auto grid max-w-7xl gap-8 lg:grid-cols-[1.4fr_1fr]">
    <div class="overflow-hidden rounded-[32px] shadow-lg">
        <div class="relative">
            <img src="https://scontent.fuio5-1.fna.fbcdn.net/v/t39.30808-6/636910967_1757803421842493_3094939240911231684_n.jpg?stp=cp6_dst-jpg_tt6&_nc_cat=111&ccb=1-7&_nc_sid=b895b5&_nc_eui2=AeGIuguc3Im6V-6PuZvj7v0BC51zCmS33kILnXMKZLfeQsREuaVux6An5yfh2S8zlYvWoGUYH-UbnJ3GzOzECwFR&_nc_ohc=RFjjkbKj2U0Q7kNvwGiJAgA&_nc_oc=Adqim-y1PzUn_b0GoUqZv-p75xd0Px8UaAWpuMGAtlo1Lx3aQZ9Q3nYok6Qa7eOERjw&_nc_zt=23&_nc_ht=scontent.fuio5-1.fna&_nc_gid=MlVda4NtjMHRB-I0bq_zfw&_nc_ss=7a3a8&oh=00_Af3_CbY-dVUy29yPgZXyvu1mVUDZcKzQA9VZhrvNPCvP7A&oe=69E4493E"
                width="100%" height="20px" alt="Enjoy your next trip" class=" object-cover" />
            <div class="absolute inset-0 bg-gradient-to-t from-black/40 to-transparent"></div>
            <h3 class="absolute bottom-6 left-6 text-3xl font-black text-orange-400 md:text-5xl">
                Enjoy your next trip
            </h3>
        </div>
    </div>

    <div class="rounded-[32px] bg-white/10 p-8 text-white backdrop-blur-sm">
        <div>
            <h4 class="text-3xl font-bold">Address</h4>
            <p class="mt-2 text-lg text-white/85">Cuenca, Ecuador</p>
        </div>

        <div class="mt-10">
            <h4 class="text-3xl font-bold">Contact</h4>
            <p class="mt-4 text-lg text-white/85">Telephone : +1 806 589-4303</p>
            <p class="text-lg text-white/85">Whatsapp : +593 990014703</p>
            <p class="text-lg font-semibold text-white">patrickmundo593@gmail.com</p>
        </div>
    </div>
</div>