<div class="mx-auto grid max-w-7xl gap-8 lg:grid-cols-[1.4fr_1fr]">
    <div class="overflow-hidden rounded-[32px] shadow-lg">
        <div class="relative">
            <img src="images/patrick-contact-me.jpg" width="100%" height="20px" alt="Enjoy your next trip"
                class=" object-cover" />
            <div class="absolute inset-0 bg-gradient-to-t from-black/40 to-transparent"></div>
            <h3 class="absolute bottom-6 left-6 text-3xl font-black text-orange-400 md:text-5xl">
                Enjoy your next trip
            </h3>
        </div>
    </div>

    <div class="rounded-[32px] bg-gradient-to-b from-[#5a4525] to-[#2f2515] p-8 text-white backdrop-blur-sm">
        <div>
            <h4 class="text-3xl font-bold">Address</h4>
            <p class="mt-2 text-lg text-white/85">Cuenca, Ecuador</p>
        </div>

        <div class="mt-10">
            <h4 class="text-3xl font-bold">Contact</h4>

            <div class="mt-4 flex items-center gap-2 text-lg text-white/85">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.129a11.042 11.042 0 005.516 5.516l1.129-2.257a1 1 0 011.21-.502l4.493 1.498A1 1 0 0121 15.72V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
                </svg>

                <span>+1 806 589-4303</span>
            </div>

            <a href="https://wa.me/593990014703" target="_blank"
                class="mt-3 flex items-center gap-2 text-lg text-green-400 hover:text-green-300 transition">

                <img src="/icons/whatsapp-icon.svg" alt="WhatsApp" class="w-5 h-5" />

                <span> +593 990014703</span>
            </a>

            <a href="mailto:patrickmundo593@gmail.com" class="mt-3 flex items-center gap-2 text-lg font-semibold 
          text-blue-400 hover:text-blue-300 
          hover:underline underline-offset-4 
          transition duration-300 cursor-pointer">

                <img src="/icons/correo-electronico.png" alt="Email" class="w-5 h-5" />

                <span>patrickmundo593@gmail.com</span>
            </a>
        </div>
    </div>
</div>