<!-- <div
    class="group overflow-hidden rounded-[24px] border border-black/5 bg-white shadow-[0_10px_30px_rgba(0,0,0,0.08)] transition duration-300 hover:-translate-y-1 hover:shadow-[0_14px_36px_rgba(0,0,0,0.12)]">
    <div class="relative overflow-hidden">
        <img [src]="photo.imageUrl" [alt]="photo.title"
            class="h-[260px] w-full object-cover transition duration-500 group-hover:scale-105" />

        <div
            class="absolute inset-0 bg-gradient-to-t from-black/30 via-transparent to-transparent opacity-0 transition duration-300 group-hover:opacity-100">
        </div>
    </div>

    <div class="p-4">
        <h3 class="line-clamp-1 text-sm font-semibold tracking-wide text-neutral-800 md:text-base">
            {{ photo.title }}
        </h3>
    </div>
</div> -->
<button type="button" (click)="onOpen()"
    class="group block w-full overflow-hidden rounded-[18px] bg-white shadow-[0_10px_24px_rgba(0,0,0,0.10)] transition duration-300 hover:-translate-y-1 hover:shadow-[0_16px_36px_rgba(0,0,0,0.14)]">
    <div class="relative overflow-hidden">
        <img [src]="photo.imageUrl" [alt]="photo.title"
            class="h-[220px] w-full object-cover transition duration-500 group-hover:scale-105" />

        <div class="absolute inset-x-0 bottom-0 bg-gradient-to-t from-black/70 to-transparent p-3 text-left">
            <h3 class="text-lg font-bold text-white">{{ photo.title }}</h3>
        </div>
    </div>
</button>